.levi-layout {
    .levi-aside {
        &__logo {
            height: 56px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            background-color: #000;
            align-items: center;
            transition: none;
            img {
                width: 80%;
                height: 32px;
                object-fit: contain;
            }
        }
        &__menu {
            overflow: auto;
            height: calc(100vh - 56px);
            .ant-menu-item,.ant-menu-submenu-title {
                height: 48px !important;
                line-height: 48px !important;
            }
        }
    }
    .levi-section {
        &__header {
            justify-content: space-between;
            background: #fff;
            padding: 0;
            box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
            padding: 0 16px;
            .header__left {
                display: flex;
            }
        }   
        &__content {
            background: #fff;
            margin: 16px;
            padding: 16px 24px;
            min-height: 280px;
        }
        .ant-layout-header {
            height: 56px;
            display: flex;
            align-items: center;
            .trigger {
                margin-right: 16px;
                font-size: 20px;
            }
        }
    }
}
